/* 레이아웃 전체 설정 */
.wrapper{
  /* background-color: aliceblue; */
  width: 90%;
  height: 500px;
  margin: 0 auto;
}


/* 테이블 전체 스타일 ################################################################################## */
.board_table {
  width: 100%;
  border-collapse: collapse; /* 테이블 셀 간의 경계선 합치기 */
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  /* table-layout: auto; */
}
/* 테이블 헤더 스타일 */
.board_table thead {
  background-color: #6d6d6d; 
  color: white; 
}
/* 헤더 셀 스타일 */
.board_table th {
  padding: 12px 15px; 
  text-align: left;
  font-weight: bold; 
  text-transform: uppercase;
}
/* 테이블 데이터 스타일 */
.board_table td {
  padding: 12px 15px; 
  border: 1px solid #ddd; 
  cursor: pointer;
}
/* 테이블의 첫 번째 열 스타일 (No 열) */
.board_table td:first-child {
  font-weight: bold; 
  text-align: center; 
}
/* 테이블 제목 너비 */
.board_table tr>td:nth-child(2){
  width: 50%;
}


/* 테이블 hover시 */
.board_table tr:hover {
  background-color: #6d6d6d;
}
.board_table tr:hover td:nth-child(1){
  color: #fff;
}

/* 테이블 정렬 버튼 */
.sortList{
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
.sortList li{
  cursor: pointer;
  margin: 0 10px;
}
.sortList li:hover{
  font-weight: 600;
}
/* 테이블 페이지네이션 버튼 */
.btn{
  width: 100%;
  text-align: center;
}
.numberBtn{
  background: none;
  border: none;
}
.btn button{
  cursor: pointer;
  margin: 0 5px;
}
